 /* change default margin and pagging for entire page */
body, html {
    margin: 0;
    padding: 0;
}

/* /////////// CSS styling for the nav bar component ///////// */
.navbar {
    /* Remove default list styling */
    list-style-type: none;
    
    /* Center the navigation bar */
    position: fixed; /* navbar stays at the top while scrolling */
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006eff; /* blue nav bar background */
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

/* Style for each item in the navigation bar */
.navbar li {
    float: left; /* Align items horizontally */
}

/* Style for each link in the navigation bar */
.navbar li .link {
    font-family: Cambria, Arial, Lato;
    font-size: 12px;
    display: block;
    color: rgb(241, 241, 241); /* Off white text color */
    text-align: center;
    padding: 14px 16px; /* Padding around text */
    text-decoration: none; /* Remove underline from links */
}

/* /////////// CSS styling for the intro component ///////// */
.intro {
    /* Positioning */
    /* position: relative; */
    margin: 0; 
    
    height: 670px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    /* text */
    font-size: 32px;
    color: white;
    font-family: Cambria, sans-serif, Arial;
    background-color: rgba(0, 0, 0, 0.951);

  }

.intro header {
    padding-top: 60px;
    font-family: Cambria, sans-serif, Arial;
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.intro h1 {
    margin: 0;
    font-family: Cambria, sans-serif, Arial;
    font-size: 30px;
    font-weight: 200;
    color: white;
}

.intro h2 {
    margin: 12px;
    font-family: Cambria, sans-serif, Arial;
    font-size: 20px;
    font-weight: 200;

    color: #006eff;
    text-decoration: none; /* Remove underline from links */
    /* word-spacing: 3px; */
}

.intro a {
    color: #006eff;
    text-decoration: none; /* Remove underline from links */
}

.intro img {
    width: 35%;
    position: relative;
    top: -162px;
}

/* /////////// CSS styling for the tile component ///////// */
.tile-container {
    margin-top: 50px;    
    display: flex;
    flex-wrap: wrap;
  }

.tile {
    font-family: Cambria, sans-serif, Arial;
    color: rgba(0, 0, 0, 0.951);
    width: 50%;
}

.tile h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
}

.tile h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 200;
}

.tile p {
    font-size: 20px;
    font-weight: 200;
}