 /* change default margin and pagging for entire page */
body, html {
    margin: 0;
    padding: 0;
}

/* /////////// CSS styling for the nav bar component ///////// */
.navbar {
    /* Remove default list styling */
    list-style-type: none;
    
    /* Center the navigation bar */
    position: fixed; /* navbar stays at the top while scrolling */
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006eff; /* blue nav bar background */
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 99999;
}

/* Style for each item in the navigation bar */
.navbar li {
    float: left; /* Align items horizontally */
}

/* Style for each link in the navigation bar */
.navbar li .link {
    font-family: Cambria, Arial, Lato;
    font-size: 12px;
    display: block;
    color: rgb(241, 241, 241); /* Off white text color */
    text-align: center;
    padding: 14px 16px; /* Padding around text */
    text-decoration: none; /* Remove underline from links */
}

/* /////////// CSS styling for the intro component ///////// */
.intro {
    margin: 0; 
    
    height: 670px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    /* text */
    font-size: 32px;
    color: white;
    font-family: Cambria, sans-serif, Arial;
    background-color: rgba(0, 0, 0, 0.951);
}

.intro header {
    padding-top: 60px;
    font-family: Cambria, sans-serif, Arial;
    font-size: 60px;
    font-weight: 700;
    color: white;
    z-index: 1;
}

.intro h1 {
    margin: 0;
    font-family: Cambria, sans-serif, Arial;
    font-size: 30px;
    font-weight: 200;
    color: white;
    z-index: 1;
}

.intro h2 {
    position: relative;

    margin: 12px;
    font-family: Cambria, sans-serif, Arial;
    font-size: 20px;
    font-weight: 200;
    z-index: 1;

    color: #006eff;
    text-decoration: none; /* Remove underline from links */
    /* word-spacing: 3px; */
}

.intro a {
    color: #006eff;
    text-decoration: none; /* Remove underline from links */
    z-index: 1;
}

.intro img {
    width: auto;
    height: 439px;
    padding-top: 45px;
    z-index: 1;
    position: static;
    bottom: 0;
}

/* /////////// CSS styling for the tile component ///////// */
.tile-container {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    z-index: 1;
  }

.tile {
    font-family: Cambria, sans-serif, Arial;
    color: rgba(0, 0, 0, 0.951);
    width: 32.3%;
    min-height: 450px;
    height: auto;
    /* max-height: 450px; */
    background-color: #efefef;
}

.tile h1 {
    padding-top: 50px;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.tile h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.tile h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

.tile p {
    font-size: 20px;
    font-weight: 200;
    white-space: pre-wrap;
    padding-left: 30px;
    padding-right: 30px;
}

.tile img {
    position: static;
    width: 170px;
    height: 170px;
    bottom: 0;
}

/* /////////// CSS styling for a full tile component ///////// */

.full-tile {
    font-family: Cambria, sans-serif, Arial;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.951);
    /* gap: 10px; */
    height: auto;
    max-height: 670px;
    z-index: 1;
}

.full-tile h1 {
    padding-top: 50px;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
}

.full-tile h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.full-tile h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

.full-tile p {
    font-size: 20px;
    font-weight: 200;
}

.full-tile img {
    /* height: 50%; */
    width: auto;
    max-height: 467px;
    bottom: 0;
    position: static;
}

.full-tile-container {
    font-family: Cambria, sans-serif, Arial;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.951);
    /* gap: 10px; */
    height: auto;
    max-height: 670px;
    z-index: 1;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;

}

.full-tile-container h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

.full-tile-container img {
    height: 50%;
    width: auto;
    max-height: 100px;
}
